<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/slant_cards.css">
  <title>Document</title>
</head>
<style>
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
  }
</style>

<body>

  <section class="slant-container">
    <h2>Title</h2>
    <div class="slant-cards">



      <div class="s-card">
        <h1 class="s-title">Title</h1>
        <div class="s-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illo, cum in placeat molestiae quisquam nobis accusamus! Suscipit qui ipsum architecto, </p>
        </div>
        <div class="s-overlay"></div>
        <img src="../assets/imgs/1.jpg" alt="">
      </div>
      <div class="s-card">
        <h1 class="s-title">Title</h1>
        <div class="s-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illo, cum in placeat molestiae quisquam nobis accusamus! Suscipit qui ipsum architecto, </p>
        </div>
        <div class="s-overlay"></div>
        <img src="../assets/imgs/2.jpg" alt="">
      </div>
      <div class="s-card">
        <h1 class="s-title">Title</h1>
        <div class="s-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illo, cum in placeat molestiae quisquam nobis accusamus! Suscipit qui ipsum architecto, </p>
        </div>
        <div class="s-overlay"></div>
        <img src="../assets/imgs/3.jpg" alt="">
      </div>
      <div class="s-card">
        <h1 class="s-title">Title</h1>
        <div class="s-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illo, cum in placeat molestiae quisquam nobis accusamus! Suscipit qui ipsum architecto, </p>
        </div>
        <div class="s-overlay"></div>
        <img src="../assets/imgs/4.jpg" alt="">
      </div>
      <div class="s-card">
        <h1 class="s-title">Title</h1>
        <div class="s-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illo, cum in placeat molestiae quisquam nobis accusamus! Suscipit qui ipsum architecto, </p>
        </div>
        <div class="s-overlay"></div>
        <img src="../assets/imgs/5.jpg" alt="">
      </div>
      <div class="s-card">
        <h1 class="s-title">Title</h1>
        <div class="s-content">
          <h3>Title</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magni illo, cum in placeat molestiae quisquam nobis accusamus! Suscipit qui ipsum architecto, </p>
        </div>
        <div class="s-overlay"></div>
        <img src="../assets/imgs/6.jpg" alt="">
      </div>
    </div>
  </section>


  <script type="module"></script>
</body>

</html>