<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../dist/css/navstyle.css">
    <title>navbar comp</title>
</head>
<body>
    <nav>
        <div class="nav_container">
            <div class="nav_logo">
                <a href="#">
                    <h1>FJ</h1>
                </a>
            </div>
            <div class="nav_links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="nav_ham">
                <div class="ham-icon"></div>
                <div class="ham-icon"></div>
                <div class="ham-icon"></div>
            </div>
        </div>



        <div class="mob_nav">
            <div class="mob_nav_links">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Brand</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <script src="../components/components.js"></script>
</body>
</html>