$text-color:black;
$background:white;
$small-shadow:3px 3px 3px  #00000033;
$big-shadow:5px 5px 5px  #00000033;

$font_family:'Montserrat';
$bold:700;
$medium:500;
$regular:400;
$light:300;


main{
    .hero_container{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: start;
        align-items: center;
        background-image: url(../../assets/img/hero-desk-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            z-index: 0;
            transition: opacity .5s ease-in-out;
        }

        img.loaded{
            opacity: 1;
        }

        @media(max-width:480px){
            height: 100svh;
            flex-direction: column;
            justify-content: end;
            align-items: center;
        }

        .hero_content{
            margin: 0px 0px 0px 90px;
            z-index: 1;
            @media(max-width:480px){
                margin: 0px 0px 35px 0px;
            }

            p{
                color: $background;
                font-family: $font_family;
                font-size: 40px;
                @media(max-width:480px){
                    font-size: 30px;
                    text-align: center;
                }

                span{
                    font-weight: $bold;
                }
            }
        }
    }
}


section.content_1{
    position: relative;
    overflow-x: hidden;

    .lottie_comp{
        position: absolute;
        top: -17px;
        right: -10px;
        width: 150px;
        z-index: -1;
        transform: rotate(30deg);

        @media(max-width:480px){
            width: 105px;
        }
    }
    .home_content_1{
        width: 100%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-family: $font_family;
        @media(max-width:480px){
            flex-direction: column;
            height: auto;
            gap: 0;
        }

        .cont_sec:nth-child(1){

            @media(max-width:480px){
                order: 2;
            }

            p{
                width: 340px;
                text-align: end;
                font-size: 18px;

                @media(max-width:480px){
                    text-align: center;
                    width: 290px;
                }
            }
        }
        
        .cont_sec:nth-child(2){
            @media(max-width:480px){
                order: 1;
            }

            p{
                width: 312px;
                text-align: start;
                font-weight: bold;
                font-size: 31px;

                @media(max-width:480px){
                    text-align: center;
                }
            }

        }
    }
}


section.content_2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 80px 0px;

    .home_content_2{
        width: 80%;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-family: $font_family;
        background-color: #D9D9D9;
        border-radius: 140px;
        box-shadow: $big-shadow;

        @media (max-width:1024px){
            width: 95%;
        }

        @media(max-width:480px){
            flex-direction: column;
            height: 533px;
            gap: 0px;
            border-radius: 62px;
            margin: 50px 0px 0px 0px;
            width: 290px;
        }

        .cont_sec:nth-child(1){
            p{
                width: 300px;
                text-align: end;
                font-weight: $bold;
                font-size: 31px;
                
                @media(max-width:480px){
                    text-align: center;
                }

                @media (max-width:768px){
                    width: 270px;
                }
            }
        }
        .cont_sec:nth-child(2){
            p{
                width: 460px;
                font-size: 18px;

                @media (max-width:768px){
                    width: 350px;
                }
                
                @media(max-width:480px){
                    text-align: center;
                    width: 265px;
                }


            }
        }
    }
}



.scale{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.snow{
    background-image: url('../../assets/img/themes/FJ-Snowfall/Snow/snow-1.png');
    animation: first-snowfall 20s   infinite;
}

.snow1{
    background-image: url('../../assets/img/themes/FJ-Snowfall/Snow/snow-2.png');
    animation: second-snowfall 40s  infinite;
    filter: blur(40%);
}

.snow2{
    background-image: url('../../assets/img/themes/FJ-Snowfall/Snow/snowballs-lg.png');
    animation: third-snowfall 10s   infinite;
}

.snow3{
    background-image: url('../../assets/img/themes/FJ-Snowfall/Snow/snowballs-md.png');
    animation: fourth-snowfall 10s   infinite;
}

.snow4{
    background-image: url('../../assets/img/themes/FJ-Snowfall/Snow/snowballs-sm.png');
    animation: fifth-snowfall 10s   infinite;
}



@keyframes first-snowfall{
    0% {
        background-position: 0% 0%;
        opacity: .0;    
    }
    5%{
        opacity: .5;    

    }
    95%{
        opacity: .5;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;    

    }
}

@keyframes second-snowfall{
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    5%{
        opacity: .2;    
    }
    95%{
        opacity: .2;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}

@keyframes third-snowfall {
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    50%{
        opacity: .2;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}

@keyframes fourth-snowfall {
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    50%{
        opacity: .1;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}

@keyframes fifth-snowfall {
    0% {
        background-position: 0% 0%;
        opacity: .0;
    }
    50%{
        opacity: .1;
    }
    100% {
        background-position: 100% 100%;
        opacity: .0;
    }
}
