$text-color:black;
$background:white;

$font_family:'Montserrat';
$bold:700;
$medium:500;
$regular:400;
$light:300;




.brand_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    width: 100%;
    height: 100vh;
    @media (max-width:480px){
        // height: 100svh;
        display: none;
    }
    @media (max-width:860px){
        // height: 100svh;
        gap: 0;
    }


    .brand_card:nth-child(1){
        background-image: url(../../assets/img/FelicetteBrandCover-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .brand_card:nth-child(2){
        background-image: url(../../assets/img/FeliNbroCover-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .brand_card:nth-child(3){
        background-image: url(../../assets/img/FolkTownCover-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }




    .brand_card{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 275px;
        height: 375px;
        border-radius: 90px;
        overflow: hidden;
        position: relative;
        @media(max-width:860px){
            transform: scale(.9);
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            object-fit: cover;
            transition: all 1s ease-in-out;
        }

        img.loaded{
            opacity: 1;
        }

        .brand_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $font_family;
            margin: 0px 0px 30px 0px;
            color: $background;
            transform: translateY(70%);
            transition: all .5s;
            z-index: 2;

            span{
                font-weight: $bold;
                font-size: 20px;
            }
            p{
                text-align: center;
                font-weight: $light;
                width: 235px;
                opacity: 0;
                transition: all .3s;

            }
            button{
                border-radius: 50px;
                width: 90px;
                height: 40px;
                border: solid 1px;
                border-color: $background;
                color: $background;
                background-color: transparent;
                font-family: $font_family;
                transition: all .3s;
                opacity: 0;
                transition: all .3s;

                &:hover{
                    background-color: $background;
                    color: $text-color;
                }

                @media (max-width:800px){
                    background-color: $background;
                    color: $text-color;
                }
            }
        }

        .brand_overlay{
            position: absolute;
            background: linear-gradient(0deg, rgba(0,0,0,.9) 0%, rgba(255,255,255,0) 100%);
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            transition: all .8s;
        }

        &:hover{
            .brand_content{
                transform: translateY(0);
            }
            p{
                opacity: 1;
            }
            button{
                opacity: 1;
            }
            .brand_overlay{
                opacity: 1;
            }
            img{
                transform: scale(1.2);
            }
        }

    }
}




.swiper {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 20px;
    @media (max-width:480px){
        display: flex;
    }

    .c1{
        background-image: url(../../assets/img/FolkTownCover-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .c2{
        background-image: url(../../assets/img/FeliNbroCover-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .c3{
        background-image: url(../../assets/img/FelicetteBrandCover-small.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }


    .brand_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        width: 275px;
        height: 375px;
        border-radius: 90px;
        background-color: gray;
        overflow: hidden;
        position: relative;
        margin: 115px auto;
        @media(max-width:860px){
            transform: scale(.9);
        }

        img{
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            object-fit: cover;
            transition: all 1s ease-in-out;
        }

        img.loaded{
            opacity: 1;
        }

        .brand_content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: $font_family;
            margin: 0px 0px 30px 0px;
            color: $background;
            // transform: translateY(70%);
            transition: all .5s;
            z-index: 2;

            span{
                font-weight: $bold;
                font-size: 20px;
            }
            p{
                text-align: center;
                font-weight: $light;
                width: 235px;
                opacity: 1;
                transition: all .3s;

            }
            button{
                border-radius: 50px;
                width: 90px;
                height: 40px;
                border: solid 1px;
                border-color: $background;
                color: $text-color;
                background-color: $background;
                font-family: $font_family;
                transition: all .3s;
                opacity: 1;
                transition: all .3s;

                // &:hover{
                //     background-color: $background;
                //     color: $text-color;
                // }

                @media (max-width:800px){
                    background-color: $background;
                    color: $text-color;
                }
            }
        }

        .brand_overlay{
            position: absolute;
            background: linear-gradient(0deg, rgba(0,0,0,.9) 0%, rgba(255,255,255,0) 100%);
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 1;
            transition: all .8s;
        }

        // &:hover{
        //     .brand_content{
        //         transform: translateY(0);
        //     }
        //     p{
        //         opacity: 1;
        //     }
        //     button{
        //         opacity: 1;
        //     }
        //     .brand_overlay{
        //         opacity: 1;
        //     }
        }
  }

  .swiper-button-prev{
    background-color: transparent;
    border-radius: 50px;

    &::after{
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
  }
  .swiper-button-next{
    background-color: transparent;
    border-radius: 50px;

    &::after{
        color: black;
        font-size: 20px;
        font-weight: 700;
    }
  }
