:root{
    --primary:#D04C00;
    --light-primary : #FE6C30;
    --background : #F8FBFD;
    --secondary : #0D304E;
    --uni : #131313;
  }


/*--------------- about card ------------*/

.about-container{
    width: 100%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--primary);
    color: var(--background);
    padding-top: 3vh;
    padding-bottom: 3vh;
    margin-top: 10vh;
}
.about-container .about-content{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    /* text-align-last: justify; */
}

.about-container .about-description{
    width: 80%;
    height: 100%;
}




/*--------------- MV CARD STYLES ------------*/

.mv-container{
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    text-align: justify;
    /* text-align-last: justify; */
    padding-top:100px;
    color: var(--primary);
}
.mv-container .m-container{
    height: 325px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #FFEBDF;
    border-radius: 3vh;
    padding: 2vh;
    box-shadow: 0px 1px 58px -21px rgba(0,0,0,0.75);
}
.mv-container .v-container{
    height: 325px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 6vh;
    background-color: #FFEBDF;
    border-radius: 3vh;
    padding: 2vh;
    box-shadow: 0px 1px 58px -21px rgba(0,0,0,0.75);
}

.mv-container p{
  margin: 15px;
}




.text-container{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-container .text-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    /* text-align-last: justify; */
    width: 60%;
    height: 72%;
    padding: 3vh;  
    border-radius: 3vh;  
    background-color: var(--background);
    color: var(--primary);
    margin-bottom: 150px;
    font-size: 25px;
    padding: 40px 40px 40px 40px;
    box-shadow: -5px 5px 9px 3px rgba(0,0,0,0.26);
}


.quote{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.quote .quote_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 15px;
  width: 500px;
  height: 300px;
  box-shadow: -5px 5px 9px 3px rgba(0,0,0,0.26);
  background-color: var(--background);
  color: var(--primary);
  padding-right: 50px;
  padding-left: 50px;
}

.quote .quote_content p{
  font-size: 20px;
  font-weight: 500;
}
.quote .quote_content p span{
  font-weight: 700;
  font-size: 25px;
}




/*------------------ RESPONSIVE STYLES --------------------*/

@media (min-width: 320px) and (max-width: 480px){

    .quote .quote_content{
      height: 450px;
      width: 207px;
    }

    .about-container h2{
        font-size: 1.2em;
      }
      .about-container p{
        font-size: .55em;
      }

      .mv-container{
        height: 300px;
      }
    
      .mv-container h2{
        font-size: 1em;
      }
      .mv-container p{
        font-size: .7em;
      }
    
      .text-container p{
        font-size: .7em;
      }
    

      .mv-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .mv-container .m-container{
        width: 80%;
      }
      .mv-container .v-container{
        width: 80%;
        margin-left: 0px;
        margin-top: 3vh;
      }

      .text-container{
        /* height: 141vh; */
      }


      .text-container .text-content{
        width: 71%;
        height: 270px;
        margin-top: 100px;
      }

      .about-container {
        height: 170px;
      }


}

@media (min-width: 481px) and (max-width: 768px){



  .about-container h2{
    font-size: 1.7em;
  }
  .about-container p{
    font-size: .9em;
  }

  .mv-container{
    height: 300px;
  }

  .mv-container h2{
    font-size: 1em;
  }
  .mv-container p{
    font-size: .7em;
  }

  .text-container p{
    font-size: .7em;
  }
  .mv-container .v-container {
    height: 182px;
    width: 30%;
  }
  .mv-container .m-container {
    height: 182px;
    width: 30%;
  }



}

@media (min-width : 769px) and (max-width:1150px){

    /*-------------------- TEXT CARD STYLES ---------------------*/
  
}