$text-color:black;
$background:white;
$primary:#D04C00;
$additional:#EEC825;
$small-shadow:3px 3px 3px  #00000033;
$big-shadow:5px 5px 5px  #00000033;


$font_family:'Montserrat';
$bold:700;
$medium:500;
$regular:400;
$light:300;

.mob_contact_container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: $font_family;
    // box-shadow: $big-shadow;
    color: $primary;

    @media(max-width:480px){
        display: flex;
    }

    p{
        margin-top: 120px;
        text-align: center;
        span{
            font-weight: $bold;
            font-size: 25px;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 80px;

        input{
            width: 215px;
            height: 40px;
            border-radius: 20px;
            border: solid 1px;
            font-family: $font_family;
            padding: 0px 10px 0px 10px;
            color: $primary;

            &:focus{
                outline: none;
            }

            &::placeholder{
                color: $primary;
            }
        }
        textarea{
            width: 215px;
            height: 140px;
            border: solid 1px $primary;
            border-radius: 20px;
            padding: 10px 5px 0px 10px;
            font-family: $font_family;

            &:focus{
                outline: none;
            }

            &::placeholder{
                color: $primary;
            }
        }

        button{
            width: 90px;
            height: 40px;
            border-radius: 20px;
            border: solid 1px $primary;
            color: $primary;
            background-color: $background;
            font-family: $font_family;
        }
    }
}



.desk_contact_container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media(max-width:480px){
        height: 100svh;
        display: none;
    }

    .contact_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        width: 600px;
        height: 475px;
        border: solid 1px;
        background-color: $primary;
        margin-top: 40px;
        // margin-bottom: 130px;
        border-radius: 30px;
        // box-shadow: $big-shadow;
        color: white;
    }
    
    p{
        font-family: $font_family;
        text-align: center;

        span{
            font-weight: $bold;
            font-size: 25px;
        }
    }

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        color: $primary;
        .details{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;

            textarea{
                width: 215px;
                height: 190px;
                border: solid 1px;
                border-radius: 20px;
                padding: 10px 5px 0px 10px;
                font-family: $font_family;
                color: $primary;

    
                &:focus{
                    outline: none;
                }
    
                &::placeholder{
                    color: $primary;
                }
            }

            .details_1{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap:40px;

                input{
                    width: 215px;
                    height: 40px;
                    border-radius: 20px;
                    border: solid 1px;
                    font-family: $font_family;
                    padding: 0px 10px 0px 10px;
                    color: $primary;

        
                    &:focus{
                        outline: none;
                    }
        
                    &::placeholder{
                        color: $primary;

                    }
                }
            }
        }
        button{
            width: 90px;
            height: 40px;
            border-radius: 20px;
            // border: solid 1px;
            font-family: $font_family;
            transition: all .4s;
            background-color: $additional;
            font-weight: 700;
            color: #513E00;
            cursor: pointer;
        }
    }

}