$text-color:black;
$background:white;

$font_family:'Montserrat';
$bold:700;
$medium:500;
$regular:400;
$light:300;

.about_containerr{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .content_1{
        width: 70%;
        margin-top: 100px;

        p{
            text-align: center;
            font-family: $font_family;
            font-size: 20px;
        }
    }

    .content_img{
        width: 90%;
        height: 270px;
        overflow: hidden;
        border-radius: 50px;
        margin-bottom: 70px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media(min-width:769px){
            width: 60%;
            height: 400px;
            margin-top: 40px;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity .5s ease-in-out;
        }
        img.loaded{
            opacity: 1;
        }
    }

    .content_2{
        width: 80%;
        @media(min-width:768px){
            width: 60%;
        }

        h2{
            font-family: $font_family;
            text-align: center;
        }

        p{
            font-family: $font_family;
            text-align: center;
        }
    }

    .content_3{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;
        @media(min-width:768px){
            width: 60%;
        }

        h2{
            font-family: $font_family;
        }
        p{
            font-family: $font_family;
            @media(min-width:768px){
                text-align: center;
            }

            span{
                font-weight: $bold;
            }
        }
    }

}